.container-logo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#logo {
    img {
        height: 75px;
        width: auto;
        margin-bottom: 15px;
        cursor: pointer;
    }
}

#title {
    color: #a0a5b9;
    font-size: 1.063rem;
    margin-bottom: 15px;

    span {
        cursor: pointer;
    }
}
