.navbar {
    height: 52px;
    background: $black;
    height: auto;
    padding: 10px 160px !important;

    a {
        color: $gray200;
    }

    &-wrapper {
        width: auto;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &-logo {
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;

        &-text {
            color: $gray300;
            padding: 0 $space-size-2;
        }

        i {
            color: #ffffff;
            font-size: 24px;
        }
    }

    &-logo {
        color: $white !important;
        font-size: 16px;
        font-weight: 500;
        padding: 0 $space-size-2 0 0;
        border-right: 1px solid $white;
    }

    &-links {
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            list-style: none;
            margin-left: $space-size;
            padding: 0 $space-size-2;
            position: relative;

            &.is-active {
                a {
                    font-weight: 500;

                    &, i {
                        color: $white;
                    }
                }
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;
                color: #737373;

                &:hover {
                    &, i {
                        text-decoration: none;
                        color: $white;
                    }
                }

                i {
                    font-size: 15px;
                    margin-right: $space-size;
                    color: #737373;
                }
            }
        }
    }
}
