.wrapper {
    border-radius: 4px;
    background: white;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;

    &-header {
        padding: 15px 20px;
        margin-bottom: 3px;
        border-bottom: 1px solid $gray400;

        &-title {
            font-size: 1.125rem;
            margin-bottom: 0;
        }

        &-actions {
            @media(max-width: 840px) {
                margin-top: 20px;
            }
        }

        & + .wrapper-inner {
            padding-top: 0;
        }
    }

    &-inner {
        padding: 20px;

        .no-padding-top {
            padding-top: 0;
        }

        &-about {
            padding-bottom: 8px;

            .info {
                &-name {
                    font-weight: 600;
                }
            }

            .author {
                &-name {
                    font-weight: 600;
                }
            }

            .footer {
                margin-top: 64px;
                width: 100%;
                display: flex;
                justify-content: center;
                color: #a0a0a0;
            }
        }
    }
}
