.login {
    background: white;
    border-radius: 2px;
    max-width: 1100px;
    margin: $space-size-8 auto $space-size-8 auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    overflow: hidden;
    max-height: 800px;

    form {
        display: flex;
        max-height: 700px;
    }

    &-form {
        position: relative;
        padding: $space-size-6;
        flex-grow: 0;
        flex-shrink: 0;
        width: 650px;

        &-footer {
            position: absolute;
            bottom: $space-size-2;
            left: $space-size-8;
            margin-left: $space-size-5;
        }

        &-wrapper {
            width: 50%;
            margin: auto;
        }

        &-header {
            width: 60%;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 64px;
            text-align: center;

            img {
                height: 64px;
                width: 100%;
                margin-bottom: 6px;
            }

            span {
                font-weight: 600;
            }
        }

        &-btn {
            justify-content: space-between;
            display: flex;
            align-items: center;

            a {
                color: #000000;
            }
        }
    }

    &-image {
        flex-grow: 1;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
        }
    }
}
