.login {
    background: white;
    border-radius: 4px;
    max-width: 1400px;
    margin: $space-size-3 auto $space-size-3 auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    overflow: hidden;
    max-height: 700px;
    display: flex;

    form {
        display: flex;
        max-height: 700px;
    }

    &-form {
        position: relative;
        padding: $space-size-3 $space-size-3;
        flex-grow: 0;
        flex-shrink: 0;
        width: 400px;

        &-footer {
            position: absolute;
            bottom: $space-size-4;
        }

        &-wrapper {
            width: 75%;
            margin: auto;
        }
    }

    &-carousel {
        flex-grow: 1;
        overflow: hidden;
        position: relative;

        &-switch {
            padding: 0;
            position: absolute;
            display: flex;
            flex-direction: row;
            bottom: $space-size-4;
            justify-content: center;
            left: 0;
            right: 0;
            align-items: center;

            &-el {
                list-style: none;
                margin: 0 $space-size / 2;
                cursor: pointer;

                span {
                    border-radius: 3px;
                    height: $space-size;
                    width: 45px;
                    background: white;
                    display: block;
                    opacity: .6;
                }

                &.is-active {
                    span {
                        opacity: 1;
                        background: $blue;
                    }
                }
            }
        }

        &-list {
            width: 100%;
            display: flex;
            overflow: hidden;
            padding: 0;
            margin: 0;
            height: 100%;

            &-el {
                width: 100%;
                height: 100%;
                flex-grow: 0;
                flex-shrink: 0;
                list-style: none;
            }
        }

        img {
            height: 100%;
        }
    }
}

.external-login {
    width: 100%;
    justify-content: center;

    &-or {
        margin: 16px 0px 16px 0px;
    }
}

.external-login-hr {
    display: flex;
    align-items: center;
}

.login-rm {
    padding: 0;
}

.login-btn {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.register-btn {
    padding: 0;
    display: flex;
}
