@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper" style="height:550px">
    <div class="wrapper-header d-sm-flex align-items-center justify-content-between">
        <h4 class="wrapper-header-title">@SharedResource.MyDatabase.ToStringSafe()</h4>
        <div class="wrapper-header-actions">
            <div id="addBtnId"></div>
        </div>
    </div>
    <div class="wrapper-inner pt-2">
        //Dostęp do utworzonych baz po zalogowaniu
    </div>
</div>

<script>
    $(document).ready(function () {
        function addNewScheme() {
            window.location = "@Url.Action("Index", "Creator")";
        }

        $("#addBtnId").dxButton({
            elementAttr: { class: "btn btn-default" },
            onClick: addNewScheme,
            text: "@SharedResource.Add.ToStringSafe()",
            type: "default"
        }).dxButton("instance");
    });
</script>