.btn {
    margin-left: 5px;

    &-default {
        background-color: #000000 !important;
        border: none !important;
        color: #ffffff !important;
    }

    &-normal {
        background-color: #E7E8EF !important;
        border: none !important;
        color: #646871 !important;
    }
}
