.page-header {
    display: flex;
    align-items: center;
    margin-top: $space-size;
    width: 100%;
    justify-content: center;

    &-title {
        font-weight: 500;
        font-size: $space-size-2;
        margin: $space-size + 2 $space-size-2 $space-size + 2 0;

        &-large {
            font-size: 22px;
        }
    }
}

.row-center {
    display: flex;
    justify-content: center;
}

.col-center {
    display: flex;
    justify-content: center;
}
